@use '../../../../assets/styles/colors';

.header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #22242c;
  background: colors.$primaryBackground;
  display: flex;
  position: absolute;
  top: 0;
  border-radius: 16px 16px 0 0 ;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 135px;
}
