@use '../../../../assets/styles/colors';
.operationsButton {
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  border: 0;
  background: colors.$secondaryBackground;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
