@use '../../../../../assets/styles/colors';
.aimButton {
  width: 34px;
  height: 34px;
  border-radius: 1000px;
  border: 5px solid colors.$primaryBackground;
  background: colors.$secondaryBackground;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.aimButtonDisabled {
  width: 34px;
  height: 34px;
  border-radius: 1000px;
  border: 5px solid colors.$primaryBackground;
  background: colors.$primaryBackground;
}
