.itemWrapper {
  width: 110px;
  height: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: Montserrat;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  opacity: 50%;
  color: white;
}
.colorItem {
  width: 16px;
  height: 8px;
}
