@use '../../../assets/styles/colors';

.wrapper {
  position: relative;
  width: 466px;
  height: 404px;
  border-radius: 24px;
  background: #22242b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  width: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockTitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonGroupWrapper {
  display: flex;
  gap: 7px;
}

.buttonWrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -33px;
}
.buttonShadow {
  position: absolute;
  width: 132px;
  height: 44px;
  top: 23px;
  right: 167px;
  background: url(../../../assets/img/btn-bg.svg);
  z-index: -1;
}
.fileInput {
  display: none;
}
