.pageWrapper {
  padding-top: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 568px;
  height: 580px;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 48px;
  background: linear-gradient(145.94deg, #1A1C1E 1.45%, #22242C 93.91%);
  box-shadow: 0px 12px 33px -8px rgba(48, 24, 134, 0.11);
  border-radius: 24px;
}

.textWrapper {
  display: inline-block;
  width: 360px;
}

.form {
  display: flex;
  flex-direction: column;
}

.sublink {
  margin-top: 16px;
  width: 320px;
  display: flex;
  justify-content: space-between;
}
