$brand: hsla(245, 82%, 67%, 1);
$primary: hsla(253, 13%, 40%, 1);
$secondary: hsla(240, 8%, 75%, 1);
$default: hsla(251, 7%, 45%, 1);
$contrast: hsla(0, 0%, 100%, 1);
$error: hsla(0, 79%, 63%, 1);
$success: hsla(147, 67%, 47%, 1);
$glass: hsla(252, 45%, 98%, 1);
$primalText: #ffffff;
$primaryNew: #5d5fef;
$primaryBackground: #17181c;
$secondaryBackground: linear-gradient(145.94deg, #1a1c1e 1.45%, #22242c 93.91%);
$lightBackground: linear-gradient(117.02deg, #131517 0.55%, #191a23 100%);
